a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 42px;

    border: 1px solid var(--secundary-ligth);
    border-width: 1px 0px;

    position: relative;

    cursor: pointer;

    transition: all 300ms ease-out;
}

a:hover {
    background: var(--secundary-ligth);
}

a:hover::after,
a.active::after {
    content: '';

    width: 2px;
    height: 100%;

    background: var(--primary);

    position: absolute;
    right: 0;
}