#RedesSociales {
  width: 100%;
  height: 28px;

  display: flex;
  justify-content: center;
  gap: 14px;
}

#RedesSociales a {
  width: 28px;
  height: 28px;

  background: var(--secondary-ligth);
  color: var(--background-ligth);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 300ms ease-out;
}

#RedesSociales a,
#RedesSociales a path,
#RedesSociales a svg {
  cursor: pointer;
}

#FacebookIcon:hover {
  background: var(--facebook);
}
#InstagramIcon:hover {
  background: var(--instagram);
}
#LinkedInIcon:hover {
  background: var(--linkedin);
}
#GithubIcon:hover {
  background: var(--twitter);
}
