@import './../../../Styles/RootStyle.css';

nav {
    width: 200px;
    height: 100%;

    background: var(--background-ligth);

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

nav ul {
    height: 100%;
}

nav ul a:visited,
nav ul a:active,
nav ul a:link {
    color: var(--body-dark);
    cursor: pointer;
    text-decoration: none;
}

nav ul a:hover {
    color: var(--title-dark);
}

#FooterSideBar {
    width: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: default;
}