nav {
    width: 200px;
    height: 100%;

    background: var(--background-ligth);

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

nav ul {
    width: 100%;
    height: 100%;
}

nav ul a:visited,
nav ul a:active,
nav ul a:link {
    color: var(--body-dark);
    cursor: pointer;
    text-decoration: none;
}

nav ul a:hover {
    color: var(--title-dark);
}

#FooterSideBar {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: default;
}

@media (max-width:767px) {
    nav {
        display: none;

        width: 100%;
    }
}