.Funcion {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 2rem;
  box-sizing: border-box;
}

.Funcion svg {
  min-width: 4rem !important;
  min-height: 4rem !important;
}

.Funcion .DescripcionFuncion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 2rem;
}

@media screen and (max-width: 765px) {
  .Funcion {
    padding: 0 1rem;
  }
  .Funcion .DescripcionFuncion {
    padding: 1rem;
  }
}
