.Funcion {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Funcion svg{
    min-width: 56px !important;
    min-height: 56px !important;
}

.Funcion .DescripcionFuncion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 28px;
}