.Funcion {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 12px 14px;
    gap: 28px;

    width: 600px;
}

.Funcion svg{
    width: 82px;
    height: 82px;
}

.Funcion .DescripcionFuncion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}