.Etapa .Tiempo h5,
.Etapa .Tiempo p {
  text-align: center;
  padding-top: 14px;
}

.Etapa .Separador {
  position: relative;
}

.Etapa .Separador::after {
  content: '';

  display: inline-block;

  position: absolute;
  top: 28px;

  width: 14px;
  height: 14px;

  background: var(--background-ligth);

  border: 2px solid var(--primary);
  border-radius: 50%;
}

.Etapa .Separador::before {
  content: '';

  display: inline-block;

  position: absolute;
  left: 8px;

  width: 2px;
  height: 100%;

  background: var(--secondary-ligth);
}

.Etapa .Descripcion {
  margin-bottom: 28px;
}

.Etapa .Descripcion > * {
  padding: 14px 28px 0;
}
