.Etapa .Tiempo h5,
.Etapa .Tiempo p {
  text-align: center;
  padding-top: 14px;
}

.Etapa .Separador {
  position: relative;
}

.Etapa .Separador::after {
  content: '';

  display: inline-block;

  position: absolute;
  top: 28px;

  width: 14px;
  height: 14px;

  background: var(--background-ligth);

  border: 2px solid var(--primary);
  border-radius: 50%;
}

.Etapa .Separador::before {
  content: '';

  display: inline-block;

  position: absolute;
  left: 8px;

  width: 2px;
  height: 100%;

  background: var(--secondary-ligth);
}

.Etapa .Descripcion {
  margin-bottom: 28px;
}

.Etapa .Descripcion > * {
  padding: 14px 28px 0;
}

.Etapa .Skills {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.Etapa span {
  width: auto;

  font-size: 0.7rem;
  font-weight: 500;

  padding: 0.5rem 1rem;

  border-radius: 0.5rem;
  border: 1px solid var(--primary);
  color: var(--primary);
  transition: all 0.3s ease;

  cursor: pointer;
}

.Etapa span:hover {
  background: var(--primary);
  color: #fff;
}
