@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600;700&display=swap');
@import 'GridStyle.css';

:root {
  --primary: #0099e5;

  --secondary-ligth: #e5e5e5;
  --secondary-dark: #4a4b4e;

  --background-ligth: #f5f5f5;
  --background-dark: #2a2b2e;

  --title-ligth: #eeeeee;
  --title-dark: #333333;
  --body-ligth: #cccccc;
  --body-dark: #666666;
  --disabled-ligth: #cccccc;
  --disabled-dark: #666666;

  --primary900: #001f2e;
  --primary800: #003d5c;
  --primary700: #005c89;
  --primary600: #007ab7;
  --primary500: #1e77bc;
  --primary400: #33adea;
  --primary300: #66c2ef;
  --primary200: #99d6f5;
  --primary100: #ccebfa;

  --secondary900: #2e2e2e;
  --secondary800: #5c5c5c;
  --secondary700: #898989;
  --secondary600: #b7b7b7;
  --secondary400: #eaeaea;
  --secondary300: #efefef;
  --secondary200: #f5f5f5;
  --secondary100: #fafafa;

  --facebook: #4267b2;
  --instagram: #c13584;
  --linkedin: #0077b5;
  --twitter: #1da1f2;
}

* {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  cursor: default;
}

#root {
  width: 100vw;
  height: 100vh;

  position: relative;

  background: linear-gradient(
    180deg,
    var(--secondary-ligth) 0%,
    var(--background-ligth) 100%
  );

  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar:hover {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background-ligth);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-ligth);
  border-radius: 14px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

h1 {
  font-style: normal;
  font-size: 28px;
  font-weight: 800;

  width: 100%;
}

h2 {
  font-style: normal;
  font-size: 24px;
  font-weight: 700;

  width: 100%;
}

.h2 {
  padding: 2rem 4rem 0;
}

h2::after {
  content: '';

  display: inline-block;

  background: var(--secondary-ligth);

  height: 2px;
  width: 100%;
}

h3 {
  font-style: normal;
  font-size: 18px;
  font-weight: 500;

  text-align: right;

  color: var(--secondary-ligth);
}

.h3 {
  padding: 1rem 4rem;
}

h4,
.h4 {
  font-style: normal;
  font-size: 16px;
  font-weight: 500;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  padding: 1rem;

  width: fit-content !important;
}

h4::after,
.h4::after {
  content: '';

  display: inline-block;

  background: var(--primary);

  height: 2px;
  width: 100%;
}

h5 {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;

  width: 100%;
}

p {
  font-style: normal;
  font-size: 14px;
  font-weight: 200;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@media screen and (max-width: 769px) {
  .h2 {
    padding: 2rem 1rem 0;
  }
  .h3 {
    padding: 1rem 1rem;
  }
}
