.tabs {
    display: flex;
    flex-direction: row;
}

.tabs li {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 7px 14px;

    border: 1px solid var(--background-ligth);

    cursor: pointer;
}

.tabs li:hover {
    border: 1px solid var(--primary);
}

.tabs li.active {
    border-bottom: 1px solid var(--primary);
}