section {
    max-width: calc(100vw - 210px) !important;

    background: var(--background-ligth);

    position: absolute;
    top: 0;
    right: 0;
}

.titulo {
    width: 100%;
}

@media (max-width:767px) {
    section {
        max-width: none !important;
    }
}